body {
    /* background-color: #567bda transparent; */
    background: none;
    margin: 0;
}

header, footer {
    background-color: #1b377e;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: center;
    color: white;
    padding: 5px;
    margin: 0px;
}

nav {
    background-color: #13275d;
    font-size: larger;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    padding: 30px;
}

section {
    background-color: #324f9b;
    background-size: auto;
    padding: 10px;
    margin-top: 10px;
    margin: 20px auto;
    border: 2px;
    border-color: #0b1941;
    border-radius: 10px;
    width: clamp(400px,90%,1000px);
    overflow: hidden;
}

section p, h2, li{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section p{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    font-size: clamp(10px,3.4vw,35px);
}

section li{
    margin: 10px;
    font-size: 30px;
}

section ul{
    list-style-type: square;
}

section h2 {
    text-decoration: underline;
    font-size: 40px;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

ul li div {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

ul li div img{
    width: 30px;
}

p {
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
}

ul {
    list-style:circle;
    list-style-type: circle;
}

a {
    color: #567bda;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin: 20px;
}
a:hover {
    color: rgb(91, 173, 255);
    text-decoration: underline;
}

/* Id */
#navbutton {
    color: #ffffff;
    background-color: #13275d;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    padding-right: 50px;
    padding-left: 50px;
}

#navbutton:hover {
    background-color: #081230;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

#navbutton_arrow {
    height: 20px;
    width: 20px;
    float: left;
    margin-right: 10px;
}

#me_pic {
    padding: 10px; /* thickness of border */
    background: 
        repeating-linear-gradient(
            45deg,
            white,
            white 10px,
            #567bda 10px,
            #567bda 20px
        );
    border-radius: 10px;
    display: block;
    max-width: 40%;
    max-height: 250px;
}

#contact img{
    width: 20px;
    vertical-align: middle;
}

#copyright{
    font-size: 50%;
    color: #ffffff7a;
}